body{
background-color: rgb(13, 213, 147);

}

.titulo {

    text-align: center;

    font-size: 2em;

    font-weight: bolder;
  
}


div.card {

   background-color: rgb(2, 170, 114);

}

.carousel-control-prev,
    .carousel-control-next,
        .carousel-control-prev-icon,
         .carousel-control-next-icon {
    background-color: #000000; /* Cambia #ff0000 por el color que desees */
  }

