body{
background-color: rgb(28, 160, 174);

}

.titulo {

    text-align: center;

    font-size: 2em;

    font-weight: bolder;
  
}

#interseccion{

    
}

#card bg-info{

    border: black solid 5px;

}